# MinerandoDados - Linguagem Python

In [1]:
# Esse é um comentário

In [2]:
print ('Hello World')

Hello World

In [3]:
'Hello World'

'Hello World'

In [4]:
# Operações Matemáticas. Pressione CTRL + ENTER para executar a célula

In [5]:
2 + 10

12

In [6]:
# Subtração

In [7]:
2 - 2

0

In [8]:
# Multiplicação

In [9]:
 2 * 2

4

In [10]:
# Divisão

In [11]:
2 / 2

1.0

In [12]:
# Numeros Float

In [13]:
3.2 + 6.6

9.8

In [14]:
8.8 / 2

4.4

In [15]:
10.2 * 2.5

25.5

# Funções no Python

In [16]:
type(5)

int

In [17]:
type(6.6)

float

In [18]:
type("Minerando Dados")

str

# Funções de Conversão

In [19]:
int(6)

6

In [20]:
int(6.5)

6

In [21]:
float(6.5)

6.5

In [22]:
float(6)

6.0

In [23]:
str(5)

'5'

# Funções de Arredodamento

In [24]:
round(2.898)

3

In [25]:
round(2.4545455,3)

2.455

# Trabalhando com Variáveis

In [26]:
var1 = 1
var2 = 2 
var3 = 3

In [27]:
var1

1

In [28]:
type(var1)

int

In [29]:
var4 = 10

In [30]:
var4

10

In [31]:
var1 + var2

3

In [32]:
# Reatribuindo um valor a variável var1 graças a TIPAGEM DINÂMICA

In [33]:
var1 = 'Rock Forever'

In [34]:
type(var1)

str

In [35]:
var2 = 6.78

In [36]:
type(var2)

float

# Operacões Matemáticas e Variáveis

In [37]:
resultado = var2 * 10

In [38]:
resultado

67.8

In [39]:
resultado = 200 / 3

In [40]:
resultado

66.66666666666667

In [41]:
## Declarando vários valores a variaveis

In [42]:
variavel1, variavel2 = 1, 'Teste'

In [43]:
variavel1

1

In [44]:
variavel2

'Teste'

# Restrições para criação de variáveis

In [45]:
variavel_teste = 2

In [46]:
variavel_teste

2

In [47]:
var2 = 10

In [48]:
for= 5

SyntaxError: invalid syntax (929843791.py, line 1)

In [49]:
# Palavras Reservadas não são permitidas: break, if, else, print etc...

# Trabalhando com Strings

In [50]:
# Criando uma variável do tipo String

In [51]:
frase = 'Python eh uma linguagem sensacional'

In [52]:
frase

'Python eh uma linguagem sensacional'

In [53]:
# Indexando Strings.

In [54]:
# Importante!! o índice começa com o numero 0.
frase[0]

'P'

In [55]:
frase[1]

'y'

In [56]:
frase[0] = 'R'

TypeError: 'str' object does not support item assignment

In [57]:
# Slicing: Percorrendo Strings

In [58]:
frase[0:6]

'Python'

In [59]:
frase[6:]

' eh uma linguagem sensacional'

In [60]:
frase[:6]

'Python'

In [61]:
# Concatennado Strings

In [62]:
frase1 = 'Python eh uma linguagem fenomenal'

In [63]:
frase2 = ' para qualquer cientista de dados'

In [64]:
frase3 = frase1 + frase2

In [65]:
# Objeto String - Métodos

In [66]:
frase = 'Minerando Dados a maior comunidade de Data Science do Brasil.'

In [67]:
frase.count('Dados')

1

In [68]:
# A função lower()

In [69]:
frase.lower()

'minerando dados a maior comunidade de data science do brasil.'

In [70]:
frase.upper()

'MINERANDO DADOS A MAIOR COMUNIDADE DE DATA SCIENCE DO BRASIL.'

In [71]:
frase.capitalize()

'Minerando dados a maior comunidade de data science do brasil.'

In [72]:
frase.islower()

False

In [73]:
# Quebrando a string em uma lista de termos
frase.split()

['Minerando',
 'Dados',
 'a',
 'maior',
 'comunidade',
 'de',
 'Data',
 'Science',
 'do',
 'Brasil.']

# Trabalhando com Listas

In [74]:
# Sintaxe para criar listas no Python
bixos = [1,2,3]
bixos

[1, 2, 3]

In [75]:
# listas com tipos de dados diferentes
bixos = ['dog','cat',122344545,13.9,[0,0,1]]

In [76]:
bixos

['dog', 'cat', 122344545, 13.9, [0, 0, 1]]

In [77]:
# Indices de elementos

In [78]:
bixos[0]

'dog'

In [79]:
bixos[3]

13.9

In [80]:
# Atualizando o valor 1 da lista
bixos[0] = 'Horse'

In [81]:
bixos

['Horse', 'cat', 122344545, 13.9, [0, 0, 1]]

In [82]:
# Slicing em Listas

In [83]:
bixos[1:]

['cat', 122344545, 13.9, [0, 0, 1]]

In [84]:
# removendo elementos
bixos.remove('cat')

In [85]:
bixos

['Horse', 122344545, 13.9, [0, 0, 1]]

# Operações em Listas

In [86]:
len(bixos)

4

In [87]:
# Concatenando listas

In [88]:
bixos + [200,'Minerando','Dados']

['Horse', 122344545, 13.9, [0, 0, 1], 200, 'Minerando', 'Dados']

In [89]:
# Check elementos

In [90]:
'cat' in bixos

False

In [91]:
# Valor máximo da lista

In [92]:
max(bixos)

TypeError: '>' not supported between instances of 'int' and 'str'

In [93]:
lista = [1,500,23,90,56788]

In [94]:
max(lista)

56788

In [95]:
# Valor mínimo da Lista

In [96]:
min(lista)

1

In [97]:
# Multiplicação de Elementos

In [98]:
['Olá'] * 3

['Olá', 'Olá', 'Olá']

# Métodos em Listas

In [100]:
# È possivel visualizar os métodos existentes do objeto lista (digite o nome do objeto + . + tab)
bixos

['Horse', 122344545, 13.9, [0, 0, 1]]

In [101]:
# Adiciona elemento na lista
bixos.append('snake')

In [102]:
bixos

['Horse', 122344545, 13.9, [0, 0, 1], 'snake']

In [103]:
# Extende a lista com mais de um elemento.
bixos.extend(['lion',10.5])
bixos

['Horse', 122344545, 13.9, [0, 0, 1], 'snake', 'lion', 10.5]

In [104]:
bixos.index('snake')

4

In [105]:
bixos.remove('snake')

In [106]:
bixos.count('dog')

0

In [107]:
bixos.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [108]:
# Ordenação de lista de inteiros
lista = [1,500,23,90,56788]
lista2 = ['casa','rio','lua','agua']

In [109]:
lista.sort()
lista

[1, 23, 90, 500, 56788]

In [121]:
lista2.sort()
lista2

['agua', 'casa', 'lua', 'rio']

# Lista Aninhadas

In [110]:
# lista que contém 3 listas
listas = [ ['cat','dog','snake'], ['Audi','Ferrari','Porsche'], [10,100,200] ]

In [111]:
listas

[['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 200]]

In [112]:
# Imprimindo o primeiro elemento (lista de animais)
listas[0]

['cat', 'dog', 'snake']

In [113]:
# Imprimindo o segundo elemento (lista de carros)
listas[1]

['Audi', 'Ferrari', 'Porsche']

In [114]:
# Imprimindo o terceiro elemento (lista de inteiros)
listas[2]

[10, 100, 200]

In [115]:
# Imprimindo o 1 carro da lista de carros
listas[1][0]

'Audi'

In [116]:
# Imprimindo o 2 carro da lista de carros
listas[1][1]

'Ferrari'

In [117]:
# Imprimindo o ultimo valor da lista de numeros
listas[2][2]

200

In [118]:
# Operacão de repetição de elementos de linhas alinhadas. listas[0] * 3

In [119]:
listas

[['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 200]]